USE [DataMartNeptuno]
GO
/****** Object:  Table [dbo].[DimensionTransporte]    Script Date: 10/30/2016 11:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimensionTransporte](
	[KeyTransporte] [int] IDENTITY(1,1) NOT NULL,
	[CodigoTransporte] [int] NULL,
	[CampañiaTransporte] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyTransporte] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DimensionTransporte] ON
INSERT [dbo].[DimensionTransporte] ([KeyTransporte], [CodigoTransporte], [CampañiaTransporte]) VALUES (27, 1, N'Speedy Express')
INSERT [dbo].[DimensionTransporte] ([KeyTransporte], [CodigoTransporte], [CampañiaTransporte]) VALUES (28, 2, N'United Package')
INSERT [dbo].[DimensionTransporte] ([KeyTransporte], [CodigoTransporte], [CampañiaTransporte]) VALUES (29, 3, N'Federal Shipping')
SET IDENTITY_INSERT [dbo].[DimensionTransporte] OFF
/****** Object:  Table [dbo].[DimensionTiempo]    Script Date: 10/30/2016 11:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimensionTiempo](
	[KeyTiempo] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [smalldatetime] NULL,
	[mes] [int] NULL,
	[trimestre] [int] NULL,
	[año] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyTiempo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimensionTiempo] ON
INSERT [dbo].[DimensionTiempo] ([KeyTiempo], [Fecha], [mes], [trimestre], [año]) VALUES (1441, CAST(0x86F40000 AS SmallDateTime), 8, 3, 1994)
INSERT [dbo].[DimensionTiempo] ([KeyTiempo], [Fecha], [mes], [trimestre], [año]) VALUES (1442, CAST(0x86F50000 AS SmallDateTime), 8, 3, 1994)
INSERT [dbo].[DimensionTiempo] ([KeyTiempo], [Fecha], [mes], [trimestre], [año]) VALUES (1443, CAST(0x86F80000 AS SmallDateTime), 8, 3, 1994)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[DimensionTiempo] OFF
/****** Object:  Table [dbo].[DimensionProducto]    Script Date: 10/30/2016 11:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimensionProducto](
	[KeyProducto] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProducto] [int] NULL,
	[NombreProducto] [varchar](100) NULL,
	[NombreCategoria] [varchar](100) NULL,
	[PrecioUnidad] [smallmoney] NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyProducto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DimensionProducto] ON
INSERT [dbo].[DimensionProducto] ([KeyProducto], [CodigoProducto], [NombreProducto], [NombreCategoria], [PrecioUnidad]) VALUES (232, 1, N'Té Dharamsala', N'Bebidas', 18.0000)
INSERT [dbo].[DimensionProducto] ([KeyProducto], [CodigoProducto], [NombreProducto], [NombreCategoria], [PrecioUnidad]) VALUES (233, 2, N'Cerveza tibetana Barley', N'Bebidas', 19.0000)
INSERT [dbo].[DimensionProducto] ([KeyProducto], [CodigoProducto], [NombreProducto], [NombreCategoria], [PrecioUnidad]) VALUES (234, 3, N'Sirope de regaliz', N'Condimentos', 10.0000)
SET IDENTITY_INSERT [dbo].[DimensionProducto] OFF
/****** Object:  Table [dbo].[DimensionEmpleado]    Script Date: 10/30/2016 11:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimensionEmpleado](
	[KeyEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[CodigoEmpleado] [int] NULL,
	[NombreEmpleado] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyEmpleado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DimensionEmpleado] ON
INSERT [dbo].[DimensionEmpleado] ([KeyEmpleado], [CodigoEmpleado], [NombreEmpleado]) VALUES (10, 1, N'Davolio, Nancy')
INSERT [dbo].[DimensionEmpleado] ([KeyEmpleado], [CodigoEmpleado], [NombreEmpleado]) VALUES (11, 2, N'Fuller, Andrew')
INSERT [dbo].[DimensionEmpleado] ([KeyEmpleado], [CodigoEmpleado], [NombreEmpleado]) VALUES (12, 3, N'Leverling, Janet')
SET IDENTITY_INSERT [dbo].[DimensionEmpleado] OFF
/****** Object:  Table [dbo].[DimensionCliente]    Script Date: 10/30/2016 11:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DimensionCliente](
	[KeyCliente] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCliente] [char](5) NULL,
	[NombreCliente] [varchar](100) NULL,
	[Ciudad] [varchar](50) NULL,
	[Pais] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DimensionCliente] ON
INSERT [dbo].[DimensionCliente] ([KeyCliente], [CodigoCliente], [NombreCliente], [Ciudad], [Pais]) VALUES (1002, N'ALFKI', N'Alfreds Futterkiste', N'Berlín', N'Alemania')
INSERT [dbo].[DimensionCliente] ([KeyCliente], [CodigoCliente], [NombreCliente], [Ciudad], [Pais]) VALUES (1003, N'ANATR', N'Ana Trujillo Emparedados y helados', N'México D.F.', N'México')
INSERT [dbo].[DimensionCliente] ([KeyCliente], [CodigoCliente], [NombreCliente], [Ciudad], [Pais]) VALUES (1004, N'ANTON', N'Antonio Moreno Taquería', N'México D.F.', N'México')
SET IDENTITY_INSERT [dbo].[DimensionCliente] OFF
/****** Object:  Table [dbo].[HechoPedido]    Script Date: 10/30/2016 11:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HechoPedido](
	[KeyTiempo] [int] NOT NULL,
	[KeyCliente] [int] NOT NULL,
	[KeyEmpleado] [int] NOT NULL,
	[KeyTransporte] [int] NOT NULL,
	[KeyProducto] [int] NOT NULL,
	[NumeroPedido] [int] NOT NULL,
	[MontoVenta] [smallmoney] NULL,
	[CantidadUnidades] [int] NULL,
	[MontoFlete] [smallmoney] NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyTiempo] ASC,
	[KeyCliente] ASC,
	[KeyEmpleado] ASC,
	[KeyTransporte] ASC,
	[KeyProducto] ASC,
	[NumeroPedido] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HechoPedido] ([KeyTiempo], [KeyCliente], [KeyEmpleado], [KeyTransporte], [KeyProducto], [NumeroPedido], [MontoVenta], [CantidadUnidades], [MontoFlete]) VALUES (1441, 1091, 14, 29, 242, 10248, 168.0000, 12, 14.2222)
INSERT [dbo].[HechoPedido] ([KeyTiempo], [KeyCliente], [KeyEmpleado], [KeyTransporte], [KeyProducto], [NumeroPedido], [MontoVenta], [CantidadUnidades], [MontoFlete]) VALUES (1441, 1091, 14, 29, 273, 10248, 100.0000, 10, 11.8519)
INSERT [dbo].[HechoPedido] ([KeyTiempo], [KeyCliente], [KeyEmpleado], [KeyTransporte], [KeyProducto], [NumeroPedido], [MontoVenta], [CantidadUnidades], [MontoFlete]) VALUES (1441, 1091, 14, 29, 303, 10248, 175.0000, 5, 5.9259)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
/****** Object:  StoredProcedure [dbo].[Sp_clienteXmontosXmeses]    Script Date: 10/30/2016 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Sp_clienteXmontosXmeses]
(@KeyCLiente int)
as
begin
select sum(MontoVenta) Monto,
case dt.mes 
when 1 then 'Enero' 
when 2 then 'Febrero' 
when 3 then 'Marzo' 
when 4 then 'Abril' 
when 5 then 'Mayo' 
when 6 then 'Junio' 
when 7 then 'Julio' 
when 8 then 'Agosto' 
when 9 then 'Septiembre' 
when 10 then 'Obtubre' 
when 11 then 'Noviembre' 
when 12 then 'Diciembre' end Mes
from hechopedido HP
inner join dimensionCliente DC on DC.KeyCliente=hp.KeyCliente
inner join dimensionTiempo DT on DT.keytiempo=hp.KeyTiempo
where DC.KeyCliente=@KeyCLiente
group by dt.mes
order by dt.mes 
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_clienteXcantidadProductoXmeses]    Script Date: 10/30/2016 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Sp_clienteXcantidadProductoXmeses]-- 1091
(@KeyCLiente int)
as
begin
select 'N°Ped' + cast(NumeroPedido as varchar(20)) NumeroPed,
CodigoProducto Codigo,
NombreProducto Producto,
NombreCategoria Categoria,
CantidadUnidades Cantidad,
PrecioUnidad Precio
from hechopedido HP
inner join dimensionProducto DP on DP.keyproducto=hp.keyproducto
inner join dimensionTiempo DT on DT.keytiempo=hp.KeyTiempo
where HP.KeyCliente=@KeyCLiente
order by NumeroPedido
end
GO
/****** Object:  StoredProcedure [dbo].[ListarProductosXpedido]    Script Date: 10/30/2016 11:12:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ListarProductosXpedido]
(@NumeroPedido int)
as
begin
	select NumeroPedido,CodigoProducto Codigo, NombreProducto,NombreCategoria Categoria,PrecioUnidad Precio
	from hechopedido HP
	inner join dimensionProducto DP on DP.keyproducto=hp.keyproducto
	where HP.NumeroPedido=NumeroPedido
	order by NumeroPedido
end
GO
/****** Object:  ForeignKey [FK__HechoPedi__KeyCl__3D5E1FD2]    Script Date: 10/30/2016 11:12:09 ******/
ALTER TABLE [dbo].[HechoPedido]  WITH CHECK ADD FOREIGN KEY([KeyCliente])
REFERENCES [dbo].[DimensionCliente] ([KeyCliente])
GO
/****** Object:  ForeignKey [FK__HechoPedi__KeyEm__3E52440B]    Script Date: 10/30/2016 11:12:09 ******/
ALTER TABLE [dbo].[HechoPedido]  WITH CHECK ADD FOREIGN KEY([KeyEmpleado])
REFERENCES [dbo].[DimensionEmpleado] ([KeyEmpleado])
GO
/****** Object:  ForeignKey [FK__HechoPedi__KeyPr__403A8C7D]    Script Date: 10/30/2016 11:12:09 ******/
ALTER TABLE [dbo].[HechoPedido]  WITH CHECK ADD FOREIGN KEY([KeyProducto])
REFERENCES [dbo].[DimensionProducto] ([KeyProducto])
GO
/****** Object:  ForeignKey [FK__HechoPedi__KeyTi__3C69FB99]    Script Date: 10/30/2016 11:12:09 ******/
ALTER TABLE [dbo].[HechoPedido]  WITH CHECK ADD FOREIGN KEY([KeyTiempo])
REFERENCES [dbo].[DimensionTiempo] ([KeyTiempo])
GO
/****** Object:  ForeignKey [FK__HechoPedi__KeyTr__3F466844]    Script Date: 10/30/2016 11:12:09 ******/
ALTER TABLE [dbo].[HechoPedido]  WITH CHECK ADD FOREIGN KEY([KeyTransporte])
REFERENCES [dbo].[DimensionTransporte] ([KeyTransporte])
GO
